html,
body {
    height: 100%;
}

nav {
    background-color: none;
}

body {}

.section-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background-image: url(img/fitness_girl.jpg);
    background-size: cover;
    background-position: 25% 0%;
    background-repeat: no-repeat;
}

.opacity {
    opacity: .8;
}

.total-text {
    color: #68944a;
}

.btn {
    /* display: block; */
    margin: 0 auto;
    width: 176px;
}

/* ############################################## */
/* Footer */
/* ############################################## */

.footer {
    flex-grow: 0;

    opacity: 0.8;

    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    padding: 20px;
}

.footer__signature {}

.footer__social-media {
    padding: 0 30vw;
}

.footer__social-links {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer_icon,
.footer__gh-link {
    color: rgb(212, 212, 212);
}

.footer__bgi-info {
    color: white;
}

@media only screen and (min-width: 600px) {
    .footer__social-media {
        padding: 0 40vw;
    }
}

@media only screen and (min-width: 1200px) {
    .footer__social-media {
        padding: 0 43vw;
    }
}